body{
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    background-color: aqua;
    display: grid;
    grid-template-columns: 20fr 20fr 20fr 20fr 20fr;
    padding: 1em;



}
.one{
    background-color: red;

}
.two{
    background-color:lightblue;
}