/* This Css file consist of the common part like header and the footer used over all the pages. */
body{
    font-family: 'Varela Round','Questrial', 'Montserrat';
    background-color:white;
}

.top-navigation-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding : 0.5em 2em;
    margin: 0em;
    
}
.container-footer{
    background-color:#E6E6E6;
    display: grid;
    grid-template-columns: 16.67% 16.67% 16.67% 16.67% 16.67% 16.67%;
    /*padding: 1em; */
    align-items: flex-start;
    margin-bottom: 0em;
    padding: 0em 2em;

}
.footer-logo{
    /* background-color: red;*/
    align-items: center;
    padding: 1em;
    margin: 1em;

}
.footer-elements{
    margin: 1em;
}
footer a{
    text-decoration: none;
    color:#333333;
}

.bottom-footer{
    display: flex;
    padding:0em 2em;
    background-color: #CFD2D5;
    justify-content: space-between;
    margin:0em;
   
}
.top-banner{
    background-attachment: fixed;
    background-image:url(/img/background-image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.social-link{
    width: 3em;
}

.select-container{
    background-color: inherit;
    border: none;
    margin:0.5em;
    font-size: 1.1em;
}

.navigation-select{
    display: flex;
}
.item-inline{
    display: inline;
   
}