body{
    font-family: Arial, Helvetica, sans-serif;
}
.top-navigation-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding : 0em 1em;
    
}
.container{
    background-color:#E6E6E6;
    display: grid;
    grid-template-columns: 16.67% 16.67% 16.67% 16.67% 16.67% 16.67%;
    /*padding: 1em; */
      align-items: flex-start;



}
.one{
    /* background-color: red;*/
    align-items: center;
    padding: 1em;

}
.two{
    
    margin: 1em;

}
.social-icons{
    display: flex;
    justify-content: space-evenly;
}
.bottom-footer{
    display: grid;
    grid-template-columns:50fr 50fr;
    background-color: rgb(45, 47, 49);
}
.top{
    background-attachment: fixed;
    background-image:url(/img/background-image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}



