/* This file includes the Css for Hotel-search page.*/
.search-bar{
    background-color:rgb(99, 135, 176);
    padding: 1em 3em;
    border-radius: 0.5em;
    display: grid;  
    justify-content: space-between;
    grid-template-columns: auto auto auto auto auto;
    grid-gap:1em;
    margin: 0em 2em;
}
.hotel-list{
    display:inline-block;
}
.form-wrapper{
    margin: 1em 2em;
    background-color:rgb(237, 239, 240);
    padding:1em 3em;
    border-radius: 0.5em;
    display: flex;
    justify-content:space-between;

}
.button-icon{
    padding:0.5em;
}
.form-wrapper button{
    color:#003E74;
    border-radius:0.5em ;
    margin: 0.5em;
}
.about-container{
    position: relative;
    margin:0em  2em;
    display: grid;
    grid-template-columns: 33fr 34fr 33fr;
    grid-gap:1em;
    border-radius: 0.5em;
}
.card-image-main{
    width: 100%;
    height: 100%;
    margin-left: 1em;
}
.location-money-detail{
    display: flex;
    justify-content: space-between;
}
.content-container{
    padding: 1em;
    background-color: violet;
}
.about-item{
    margin: 0em;
    font-weight: normal;
    

}
.result-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
    grid-gap: 2em;
    margin:0em 2em;
}
.result-card {
    position: relative;
	background-color: white;
    border-radius: 5px;
    transition: 0.3s ease;
}
.result-card:hover{
    transform: scale(1.01);
}
.result-image {
	width: 100%;
	height: 15em;
	border-radius: 5px 5px 0 0;
}
.result-info {
	padding: 1em 2em;
}
.meta-info {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.rating {
	color: green;
	font-weight: bold;
    border: 1px solid green;
    border-radius: 3px;
	padding: 0.2em 0.5em;
}
.like-button{
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.7em 1em;
    color: red;
}