.search-bar{
    background-color:rgb(99, 135, 176);
    padding: 1em 3em;
    border-radius: 0.5em;
    display: grid;  
    justify-content: space-between;
    grid-template-columns: 20fr 20fr 20fr 20fr 20fr;
    grid-gap:1em;
}