.top-banner{
    height: 60vh;
    background-image:url(/img/background-orginal-image.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    display: flex;
    align-items:center;
<<<<<<< HEAD
}
.search-section{
    background-color:rgb(0, 62, 116, 55%);
    width: 40%;
=======
    background-position: center ;
}
.search-section{
    background-color:rgb(0, 62, 116, 55%);
    width: 4                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       0%;
>>>>>>> homepage_fixes
    margin:auto 1em;
    border-radius: 8px;
    padding: 10px;
    display: grid;
    grid-template-columns: 25fr 25fr 25fr 25fr;
    grid-gap: 1em;
}
.search-option{
    border-radius: 8px;
    background-color: ;
}
.where-to-travel{
    grid-column-start:1;
    grid-column-end: 5;
}
.name-of-button{
    margin: 0em;
    font-size: 1em;
    color: white;
    font-weight: 300;
    font-family: Arial;

}
.where.button{
    width: 100%;
}
.date-details{
    grid-column-end: span 2;
}
<<<<<<< HEAD
=======
.form-element {
    width: 100%;
    padding: 0.25em 0.5em;
    border-radius: 0.25em;
    line-height: 1.5;
}
>>>>>>> homepage_fixes
