/* This Css files include the Css for main of index.html page.*/
:root{
    --accent-blu :#0E06C4;
    --accent-bro: #753D16;

}
.top-banner{
    height: 60vh;
    background-image:url(/img/background-orginal-image.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    display: flex;
    align-items:center;
    background-position: center ;
    background-color: skyblue;
}
.search-section{
    background-color:rgb(0, 62, 116, 50%);
    width: 40%;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       0%;
    margin:auto 2em;
    border-radius: 8px;
    padding: 10px;
    display: grid;
    grid-template-columns: 25fr 25fr 25fr 25fr;
    grid-gap: 1em;
}
.form-element {
    width: 100%;
    padding: 0.25em 0.5em;
    border-radius: 0.25em;
    line-height: 1.5;
}
.search-option{
    border-radius: 8px;
    background-color:#EDEDED ;
    opacity: 77%;
    color: black;
}
.where-to-travel{
    grid-column-start:1;
    grid-column-end: 5;
}
.label{
    margin: 0em;
    font-size: 1em;
    color: white;
    font-weight: 300;
    font-family: Arial;
    padding-left: 0.5em;

}
.form-fields{
    grid-column-end: span 2;
}
.search-button{
    margin-top: 1.2em;
    background-color: var(--accent-blu);
    border-width: 0;
    color: white;
}
.top-deals{
    padding: 2em;
}
.heading{
    color: var(--accent-blu);
    font-weight: normal;
}
.sub-heading{
    color: var(--accent-bro);
    font-weight: normal;
}
.go-to-top{
    padding:1em 2em;
    background-color:#B7C4CE;
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin-bottom: 3em;

}
.jump-on-board{
    font-size: 1.5em;
    padding: 0.5em 1.5em;
    border-radius: 0.25em;
    color: var(--accent-blu);
    
    /* check the anchor tag here.*/
}