/* This Css files include the Css for main of index.html page.*/
:root{
    --accent-blu :#0E06C4;
    --accent-bro: #753D16;

}
.top-banner{
    height: 60vh;
    background-image:url(/img/background-orginal-image.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    display: flex;
    align-items:center;
    background-position: center ;
    background-color: skyblue;
}
.search-section{
    background-color:rgb(0, 62, 116, 50%);
    width:fit-content;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     0%;
    margin:auto 2em;
    border-radius: 0.5em;
    padding: 1em;
    display: grid;
    grid-template-columns: 25fr 25fr 25fr 25fr;
    grid-gap: 1em;
}
.form-element {
    width: 100%;
    padding: 0.25em 0.5em;
    border-radius: 0.25em;
    line-height: 1.5;
}
.search-option{
    border-radius: 8px;
    background-color:#EDEDED ;
    opacity: 77%;
    color: black;
}
.where-to-travel{
    grid-column-start:1;
    grid-column-end: 5;
}
.label{
    margin: 0em;
    font-size: 1em;
    color: white;
    font-weight: 300;
    font-family: Arial;
    padding-left: 0.5em;

}
.form-fields{
    grid-column-end: span 2;
}
.search-button{
    margin-top: 1.2em;
    background-color: var(--accent-blu);
    border-width: 0;
    color: white;
}
.top-deals{
    padding: 2em;
}
.heading{
    color: var(--accent-blu);
    font-weight: normal;
}
.sub-heading{
    color: var(--accent-bro);
    font-weight: normal;
}
.go-to-top{
    padding:1em 2em;
    background-color:#B7C4CE;
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin: 3em 3em;

}
.jump-on-board{
    font-size: 1.5em;
    padding: 0.5em 1.5em;
    border-radius: 0.25em;
    color: var(--accent-blu);
    
    /* check the anchor tag here.*/
}
.deals-listing{
    padding: 0em 2em 2em 2em;
    display: flex;
    justify-content: space-evenly;
}
.individual-list{
    background-image: url(/img/dawson-lovell-W_MUqtuHwyY-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display:grid;
    grid-template-columns: 30fr 50fr 20fr;
    grid-template-rows: 70fr 30fr;
}
.container{
    height: max-content;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 1em;
    margin: 0em 3em;

}
.card-container{
    position: relative;
    height: 100%;
}
.info-section {
    padding: 1em 1em;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    bottom: 0;
    left: 0;
    right: 0;
}
.card-image{
    width: 100%;
    height: 100%;
}
.card-title{
    background-color:#E6E6E6;
    color: var(--accent-blu);
    position: absolute;
    top: 0;
    left: 0;
    padding: 15px;
    margin: 0em;
}
.icon-image{
    width: 60px;
    height: 60px;
}
.info-bar {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    margin: 1em auto;
}
.center-text{
    display: block;
    align-items: center;
    color: white;
    padding-left:1em;
}
.info-text{
    color: white;
    padding: 0em;
    margin-bottom: 0em;
}
.sub-info-text{
    margin-top: 0em;
    padding: 0em;
    color: white;
    font-weight: normal;
}
@media (max-width:768px){
    .container{
        display: unset;
        height: unset;
    }
    .card-container{
        margin: 1em auto;
        height: 50vh;
    }
}
