.top-image{
    background-image: url("../img/apartment-bed-bedroom-comfort-545034.jpg");
    padding:3em;
    background-size: cover;
    display: flex;
    align-items: center;
    background-position: center;
    justify-content: space-between;
}
.upper-case{
    text-transform: uppercase;
   padding-top: 2em;
}
.detail-container{
    margin:2em 3em;
    display: grid;
    grid-template-columns: 75fr 25fr;
    grid-gap: 1em;
}
.hotel-image{

}
.book-your-room{
    border: 1px solid rgb(207, 207, 207);
    padding: 0.5em;
    color: #333333;
    height: fit-content;
}
.text-blue{
    color:#003E74;
    text-align: center;
}
.field{
    margin: 1em;
}
.field p{
    margin: 0em;
    color: grey;
    font-family: Montserrat;
}
.form-search{
    width:100%;
    background-color:#003E74 ;
    color: white;
    line-height: 1.5em;
}
.amenities{
    display: inline-block;
    border:1px dotted black;
    
}
.amenities-block{
   display: grid;
   grid-template-columns: auto auto auto auto;
   

}
.amenities-block  div{
    display:flex;
    flex-direction: column;
    border: 0.5px solid grey;
    justify-content: center;
    align-items: center ;
}
.grid{
    display: grid;

}
.margin-null{
    margin:0em;
}

